<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AudioAnalyzer.Properties.Settings>
            <setting name="device" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="sampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="refreshRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sensitivity" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lowLimit" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="midLimit" serializeAs="String">
                <value>700</value>
            </setting>
        </AudioAnalyzer.Properties.Settings>
    </userSettings>
</configuration>